<!DOCTYPE html>
<html>
<%- include ('../layouts/head') %>

<body>
    <header>
    <%- include ('../layouts/header') %>
    <section id="pageTitle">Books List</section>
    </header>

    <main>
        <% booksResults.forEach(book => { %>
        <section class="book-template">
            <p><br>Title: <%= book.title %></p><br><br>
            <img src="<%= book.image_url %>"><br><br>
            <p>Author: <%= book.author %></p><br><br>
            <p id="description">Description: <br><br><%= book.description.substring(0,300) %></p><br>
        </section>
        <% }); %>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>