<!DOCTYPE html>
<html>
<%- include ('layouts/head') %>

<body>
    <header>
        <h1>Best Books!</h1>
        <section id='headerImg'>
            <img src="img/hamburger.jpg">
        </section>
        <section id="pageTitle">Home Page</section>
    </header>
    <main>
        <p id="welcome">Welcome to the Best Books App!</p>
        <section>
            <% booksList.forEach(book => { %>
            <section id="book-template">
                <p><br>Title: <%= book.title %></p><br><br>
                <img src="<%= book.image_url %>"><br><br>
                <p>Author: <%= book.author %></p><br><br>
                <p>ISBN: <%= book.isbn %></p><br><br>
                <p id="description">Description: <br><br><%= book.description.substring(0,300) %></p><br>
                <a href="/books/<%= book.id %>"> View Details</a>
            </section>
            <% }); %>
        </section>
        <section>
            <p id="booksCount">Number of books in your bookshelf: <%= booksCount %></p>
        </section>
    </main>
</body>

</html>