<!DOCTYPE html>
<html>
<%- include ('layouts/head') %>

<body>
    <header>
    <%- include ('layouts/header') %>
    <section id="pageTitle">Home Page</section>
    </header>
    <main>
        <p id="booksCount">Number of books in your bookshelf: <%= booksCount %></p>
        <section>
            <% booksList.forEach(book => { %>
            <section class="book-template">
                <p><br>Title: <%= book.title %></p><br><br>
                <img src="<%= book.image_url %>"><br><br>
                <p>Author: <%= book.author %></p><br><br>
                <p>ISBN: <%= book.isbn %></p><br><br>
                <p id="description">Description: <br><br><%= book.description.substring(0,300) %></p><br>
                <button id="viewDetailsButton"><a href="/books/<%= book.id %>"> View Details</a></button>
            </section>
            <% }); %>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>